# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

DT_COMPAT_ZMK_INPUT_PROCESSOR_PADSTICK := zmk,input-processor-padstick

config ZMK_INPUT_PROCESSOR_PADSTICK
	bool
	default $(dt_compat_enabled,$(DT_COMPAT_ZMK_INPUT_PROCESSOR_PADSTICK))
	depends on ZMK_POINTING
	depends on (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)
